.footer {
    background-color: #f8f9fa; /* Light background */
    height: 60px; /* Reduced height */
    position: sticky;
    bottom: 0;
    width: 100%;
  }
  
  .footer-logo img {
    height: 30px; /* Adjust the logo size */
    width: 120px;
    margin-left: 50px;
  }
  
  .footer-rights {
    font-size: 14px;
    margin-right: 50px;
    color: #c1272d; /* Gray color for text */
  }
  
  p {
    margin-bottom: 0px;
}